Source: python-defer
Section: python
Maintainer: Bardia Moshiri <bardia@furilabs.com>
XSBC-Original-Maintainer: Sebastian Heinlein (devel) <devel@glatzor.de>
                          Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Uploaders: Michael Vogt <mvo@debian.org>
Build-Depends: debhelper-compat (= 13), dh-python,
               python3-setuptools,
               python3-all,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/python-defer
Vcs-Git: https://github.com/furilabs/python-defer.git
Homepage: https://github.com/furilabs/python-defer

Package: python3-defer
Architecture: all
Section: python
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Small framework for asynchronous programming (Python 3)
 The defer module provides an easy way to write asynchrouns Python 3 programs.
 It is greatly inspired by Twisted's defer, but hasn't got any external
 dependencies.
 .
 Furthermore it features decorators to write asynchronous D-Bus servers and
 clients.
 .
 At first defer was part of aptdaemon, but moved to a separate project in
 August of 2010.
